.paginate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: row nowrap;

  button {
    align-items: center;
    background-color: #007EAF;
    border: 1px solid #007EAF;
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    transition: .4s all linear;
    width: 40px;
    
    &:last-child {
      margin: 0;
    }
    
    &:hover {
      border: 2px solid #D9B121;
      background-color: #FFF;
      color: #D9B121;
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

  }
  .pages {
    font-weight: bold;
    padding: 10px 20px;
  }
  
}