.loading-container {
  margin: 0 auto;
  font-size: 3em;
  width: 100%;
  text-align: center;

  i {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
}

@keyframes rotate {
  from { 
    color: #4EC8F6;
    transition: color ease-in-out 2s;
    transform: rotate(0deg);
   }
  to { 
    color: #007EAF;
    transition: color ease-in-out 2s;  
    transform: rotate(360deg); 
  }
}