<div class="details-container">
  <div class="gnome-details">
    <img [src]="gnome?.thumbnail" alt="">
    <h6> {{gnome?.name }}</h6>
    <ul>
      <li class="details-list">
        <div class="details-icon">
            <i class="fa fa-id-badge"></i>
        </div>
        <strong class="details-title"> Id: </strong> 
        <span> {{gnome?.id }} </span>
      </li>
      <li class="details-list">
        <div class="details-icon">
            <i class="fa fa-vcard"></i>
        </div>
        <strong class="details-title"> Name: </strong> 
        <span> {{gnome?.name }} </span>
      </li>
      <li class="details-list">
        <div class="details-icon">
            <i class="fa fa-trophy"></i>
        </div>
        <strong class="details-title"> Age: </strong> 
        <span> {{gnome?.age }} </span>
      </li>
      <li class="details-list">
        <div class="details-icon">
            <i class="fa fa-scissors"></i>
        </div>
        <strong class="details-title"> Hair color: </strong> 
        <span> {{gnome?.hair_color }} </span>
      </li>
      <li class="details-list">
        <div class="details-icon">
            <i class="fa fa-balance-scale"></i>
        </div>
        <strong class="details-title"> Weight: </strong> 
        <span> {{gnome?.weight }} </span>
      </li>
    </ul>
  </div>
  <div class="gnome-details gnome-details-list">
    <div class="gnome-attr">
      <h6>Professions</h6>
      <ul>
        <li *ngFor="let profession of gnome?.professions"> {{profession}} </li>
      </ul>
    </div>
    <div class="gnome-attr">
      <h6>Friends</h6>
      <ul >
        <i *ngIf="!gnome?.friends.length" class="fa fa-frown-o no-friends"></i>
        <li *ngFor="let friend of gnome?.friends"> {{friend}}  </li>
      </ul>
    </div>
  </div>
</div>