.card {
  cursor: pointer;
  width: auto;
  border-radius: 5px;
  background-color: #FEFEFE;
  border: 1px solid #e3e3e3;
  position: relative;
  word-break: break-all;
  padding: 15px 25px;

  .title {
    border-bottom: 1px solid #b1b0b0;
    color: #b1b0b0;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .content {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .picture {
    width: 100%;
    margin: 0;
    margin-top: 5px;
    img {
      border-radius: 50%;
      height: 190px;
      max-width: 190px;
      object-fit: cover;
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .content-details {
    list-style: none;
    padding: 0 !important;
    color:#5B5B5B;

    li {
      margin-bottom: 5px;
      word-break: break-all;
      .details-title {
        color: #007eaf !important;
        margin-right: 5px;
      }
    }
  }
}