<div class="card" [routerLink]="['./', gnome?.id]">
  <div class="picture">
    <img [src]="gnome?.thumbnail" alt="{{gnome?.name}}">
  </div>
  <div class="title">
    <i class="fa fa-user-circle-o"></i> {{gnome?.name}}
  </div>
  <div class="content">
    <ul class="content-details">
      <li>
        <span class="details-title"> 
          <i class="fa fa-id-badge"></i> Id:
        </span> 
        {{gnome?.id}}
      </li>
      <li>
        <span class="details-title">
          <i class="fa fa-vcard"></i> Name: 
        </span> 
         {{gnome?.name}}
      </li>
      <li>
        <span class="details-title"> 
          <i class="fa fa-address-book"></i> Professions: 
        </span> 
        {{gnome?.professions}}
      </li>
      <li>
        <span class="details-title"> 
          <i class="fa fa-trophy"></i> Age: 
        </span> 
        {{gnome?.age}}
      </li>
      <li>
        <span class="details-title"> 
          <i class="fa fa-scissors"></i> Hair color: 
        </span> 
        {{gnome?.hair_color}}
      </li>
      <li>
        <span class="details-title"> 
          <i class="fa fa-balance-scale"></i> Weight: 
        </span> 
        {{gnome?.weight}}
      </li>
      <li>
        <span class="details-title"> 
          <i class="fa fa-handshake-o"></i> Friends: 
        </span> 

        <i *ngIf="!gnome?.friends.length" class="fa fa-frown-o"></i>
        {{gnome?.friends}}
      </li>
    </ul>
  </div>
</div>